<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <clear />
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:1184/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <proxy>
      <preserveHostHeader>true</preserveHostHeader>
      <reverseRewriteHostInResponseHeaders>false</reverseRewriteHostInResponseHeaders>
    </proxy>

    <httpErrors errorMode="Detailed" />

  </system.webServer>
</configuration>
